
    /*Structure & Layout*/

    body {
      overflow-x: hidden; /* Hide horizontal scrollbar */
    }
    .container-fluid{
        padding:0%;
        height: 100vh;
    }

    #start-form{
        color: white;
        text-shadow: 3px 3px 3px black;
    }

    .bg-equality{
        background-color: #1358a2;
    }

    #card-pad{
        margin: 10px;
    }

    .margin-top-10{
        margin-top: 10px;
    }
	
    .volunteer-container{
        background-image:url("photos/background1.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    a{
      text-decoration: none;
      color: inherit;
    }
	
    .left-side {
        float: left;
        width: 25%;
        padding: 1%;
      }

      .right-side {
        float: right;
        width: 25%;
        padding: 1%;
      }

    #content-container{
        padding: 0%;
		background-image:url("photos/background1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
    }
  
    .text-equity{
        color: #CD6D7D;
    }
    .btn-equity2{
      border-radius: 25px;
      padding: 15px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: #CD6D7D;
    }

    .equity-button{
      border-radius: 25px;
      background-color: #ed1d24;
      padding: 15px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .equity-button:hover{
      transition-duration: .2s;
      background-color: rgb(25, 30, 72)
    }
    .btn-equity2:hover{
      transition-duration: .2s;
      background-color: rgb(25, 30, 72)
    }

    #nav{
      position: sticky;
      top: 0;
      z-index: 100;
    }

    .nav-link{
      border-radius: 5px;
    }

    .nav-link:hover{
      transition-duration: .25s;
      text-decoration: underline;
      color: black;
      
    }

    ul{
      list-style-type: none;
    }

    .card-issues{
      margin-top: 15px;
      box-shadow: 5px 5px 5px;
    }

    .reasons{
      border-radius: 5px;
    }

    

    .carousel-item{
      max-height: 500px;
    }

    .carousel-item{
        background-color: gray;
        
    }
    /*Background Color*/
    .nav-bg{
        background-color: #2956cc;
    }
    .container-bg{
        background-color: #487bd3;
    }

    /*Testing purpse borders and identifiers*/
    .border-black{
        border: 1px solid black;
    }

    .no-border{
      border: none;
    }

    #vote-dg{
      font-size: 60px;
      line-height: auto;
      margin-bottom: 10px;
    }

/*Start Form Styling*/
              @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
              * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
              }
              body {
                font-family: "Inter", sans-serif;
              }
              .formbold-main-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 48px;
              }
            
              .formbold-form-wrapper {
                margin: 0 auto;
                max-width: 550px;
                width: 100%;
                background: white;
              }
            
              .formbold-input-flex {
                display: flex;
                gap: 20px;
                margin-bottom: 22px;
              }
              .formbold-input-flex > div {
                width: 50%;
                display: flex;
                flex-direction: column-reverse;
              }
              .formbold-textarea {
                display: flex;
                flex-direction: column-reverse;
              }
            
              .formbold-form-input {
                width: 100%;
                padding-bottom: 10px;
                border: none;
                border-bottom: 1px solid #DDE3EC;
                background: #FFFFFF;
                font-weight: 500;
                font-size: 16px;
                color: #07074D;
                outline: none;
                resize: none;
              }
              .formbold-form-input::placeholder {
                color: #536387;
              }
              .formbold-form-input:focus {
                border-color: #6A64F1;
              }
              .formbold-form-label {
                color: #07074D;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                display: block;
                margin-bottom: 18px;
              }
              .formbold-form-input:focus + .formbold-form-label {
                color: #6A64F1;
              }
            
              .formbold-input-file {
                margin-top: 30px;
              }
              .formbold-input-file input[type="file"] {
                position: absolute;
                top: 6px;
                left: 0;
                z-index: -1;
              }
              .formbold-input-file .formbold-input-label {
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;
              }
            
              .formbold-filename-wrapper {
                display: flex;
                flex-direction: column;
                gap: 6px;
                margin-bottom: 22px;
              }
              .formbold-filename {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;
                line-height: 24px;
                color: #536387;
              }
              .formbold-filename svg {
                cursor: pointer;
              }
            
              .formbold-btn {
                border-radius: 25px;
                background-color: #CD6D7D;
                padding: 15px;
                padding-left: 30px;
                padding-right: 30px;
              }
              .formbold-btn:hover {
                box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
              }
            
/*End Form Styling*/
	
	
    @media only screen and (max-width: 600px) {
      #vote-dg{
      font-size: 5vh;
      }    
      
      .right-side {
        float: none;
        width: 100%;
      }

      .carousel, .carousel-item{
        
        height: 20vh;
      }
      
    }
